
    .chessboard
    {
        width: 400px;
        height: 400px;
        border: solid red 1px;
        border-collapse: collapse;

    }

    table
    {
        width: 400px;
        height: 400px;
        border: solid red 1px;
        border-collapse: collapse;
    }

    .blackBox
    {
        width: 50px;
        height: 50px;
        background: black;
        border-radius: 10%;
    }

    .whiteBox{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 10%;
    }

    .main_div{
        width: 400px;
        height: 400px;
        border: solid green 1px;
        border-collapse: collapse;

    }

    .child_div
    {
        width: 50px;
        height: 50px;
        background: black;
        float: left;
        border-radius: 5%;
    }


    .child_div2{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 5%;
        float: left;
    }